.container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px;
    gap: 10px;
    height: 900px;
    width: 900px;
}

.card {
    background-color: brown;
    border: 1px solid black;
}