@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 180px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
}

.button {
  margin-top: 20px;
  width: 100px;
}
.pageHeader {
  text-align: center;
}

.booksList {
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 180px;
}

.card h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.card button {
  width: fit-content;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}